[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 15.0

[submodule "OCA/hr-attendance"]
	path = OCA/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 15.0

[submodule "OCA/hr-holidays"]
	path = OCA/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 15.0

[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 15.0

[submodule "ingadhoc/purchase"]
	path = ingadhoc/purchase
	url = git@github.com:ingadhoc/purchase.git
	branch = 15.0

[submodule "leobozzi/cl-kilbel"]
	path = leobozzi/cl-kilbel
	url = git@github.com:leobozzi/cl-kilbel.git
	branch = 15.0
