[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 15.0

[submodule "OCA/hr-attendance"]
	path = OCA/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/hr-holidays"]
	path = OCA/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0
